name: Build and Deploy - Base

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

on:
  release:
    types: [ published ]

jobs:
  build-publish:

    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: "Actions - Checkout"
        uses: actions/checkout@v4

      - name: "Actions - Setup Java"
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: "Maven - Build and Deploy"
        run: mvn --batch-mode deploy --settings settings.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "Misc - Upload Release Assets"
        uses: AButler/upload-release-assets@v3.0
        with:
          files: "target/lachsbot.jar"
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: "Docker - Login to GitHub CR"
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: "Docker - Extract Metadata"
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: "Docker - Set up QEMU"
        uses: docker/setup-qemu-action@v3

      - name: "Docker - Setup Buildx"
        uses: docker/setup-buildx-action@v3

      - name: "Docker - Build and Push"
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          context: .
          provenance: false
          output: type=image,name=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }},push=true
